Thumbs.db
Desktop.ini
.DS_Store

/Library
/Logs
/Recordings
/UserSettings
/Temp

/Plugin/Android/*.so
/Plugin/iOS/*.a
/Plugin/iOS/*.o
/Plugin/Linux/*.so
/Plugin/MacOS/*.so
/Plugin/MacOS/*.bundle
/Plugin/Windows/*.dll
